 *{
     margin: 0;
     padding: 0;
 }
 .container{
     width: 200px;
     height: 200px;
     margin: 100px;
     background-color: dimgray;
     float: left;
 }
.containerWithTask{
    width: 100px;
    height: 150px;
    background-color: burlywood;
    float: right;
}
#btnDel{
    width: 100px;
    height: 50px;
}